* {
    padding: 0;
    margin: 0;
}

img {
    object-fit: contain;
}
body {
    background: url("assets/icons/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.clock__img {
    margin-left: 12%;
    position: relative;
    z-index: 1;
}

.text-clock {
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 3;
    font-weight: 600 !important;
}

.start {
    position: absolute;
    left: 13.5%;
    top: 26%;
    z-index: 5;
    height: 37%;
    width: 4%;
    border-radius: 50%;
    opacity: 0;
}

.pause {
    position: absolute;
    left: 17.5%;
    top: 26%;
    z-index: 5;
    height: 37%;
    width: 4%;
    border-radius: 50%;
    opacity: 0;
}

.reset {
    position: absolute;
    left: 15.5%;
    top: 55%;
    z-index: 5;
    height: 37%;
    width: 4%;
    border-radius: 50%;
    transform: rotate(90deg);
    opacity: 0;
}

.tableQuestion__img {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 25%;
}

.tableQuestion__imgAfter {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 25%;
}

.text-question {
    position: absolute;
    top: 32%;
    left: 31%;
    z-index: 3;
    width: 40%;
    font-weight: 600;
    font-size: 23.4px;
}

.answer {
    margin-left: 25%;
    margin-top: 4%;
    height: 74px;
}

.answer0 {
    margin-left: 25%;
    margin-top: 4%;
    height: 74px;
}

.text-answerA {
    position: absolute;
    bottom: 5%;
    margin-left: 3.2rem;
}

.text-answerB {
    position: absolute;
    bottom: 5%;
    margin-left: 22.5%;
}

.text-answerC {
    position: absolute;
    bottom: 5%;
    margin-left: 41.6%;
}

.answer__img {
    height: 100%;
    width: 16%;
    margin-right: 10%;
}

.farmac-task2 {
    height: 100vh;
}

.content {
    height: 15.5vh;
}

.gressLeft__img {
    margin-left: -25%;
    position: relative;
    z-index: 1;
    width: 85%;
    margin-top: 2rem;
}

.gressRight__img {
    position: relative;
    z-index: 1;
    width: 70%;
    margin-top: 0rem;
}

.flowerpot__img {
    position: absolute;
    bottom: -1rem;
    left: 18%;
}

.logo__img {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 47%;
    bottom: -1rem;
}

.table__img {
    position: relative;
    z-index: -1;
    height: 50%;
    width: 30%;
    right: 20%;
    bottom: 0.5rem;
}

.table__img2 {
    position: relative;
    z-index: -1;
    height: 50%;
    width: 30%;
    right: -4%;
    bottom: 0rem;
}

.table__img3 {
    position: relative;
    z-index: -1;
    height: 50%;
    width: 30%;
    right: 0%;
    bottom: -1.7rem;
}

.table__img4 {
    position: relative;
    z-index: -1;
    height: 50%;
    width: 30%;
    right: 33%;
    bottom: -0.2rem;
}

.yogi__img {
    position: absolute;
    left: 30%;
    height: 100%;
    width: 100%;
}


.yogi__img2 {
    position: absolute;
    left: 30%;

    height: 100%;
    width: 100%;
}

.yogi__img3 {
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
}

.yogi__img4 {
    position: absolute;
    left: -33%;
    height: 100%;
    width: 100%;
}

.barbed-wire {
    position: absolute;
    z-index: -2;
    width: 96%;
    bottom: 0;
}




@keyframes yogiImg0 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -1rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg0 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -1rem;
    }
    100% {
        margin-top: 0rem;
    }
}

@keyframes yogiImg1 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -1.5rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg1 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -1.5rem;
    }
    100% {
        margin-top: 0rem;
    }
}


@keyframes yogiImg2 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -2rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg2 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -2rem;
    }
    100% {
        margin-top: 0rem;
    }
}

@keyframes yogiImg3 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -2.5rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg3 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -2.5rem;
    }
    100% {
        margin-top: 0rem;
    }
}

@keyframes yogiImg4 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -3rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg4 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -3rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@keyframes yogiImg5 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -4rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg5 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -4rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@keyframes yogiImg6 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -5rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg6 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -5rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@keyframes yogiImg7 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -6rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg7 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -6rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@keyframes yogiImg8 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -7rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg8 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -7rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@keyframes yogiImg9 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -8rem;
    }
    100% {
        margin-top: 0rem;
    }
}
@-webkit-keyframes yogiImg9 {
    0% {
        margin-top: 0rem;
    }
    50% {
        margin-top: -8rem;
    }
    100% {
        margin-top: 0rem;
    }
}
